@using TripPlanner.ViewModels;
@model TripPlanner.Models.UserProfile;
@{
  Layout = "_Layout";
}

@{
    ViewBag.Title = "Course Details";
    var photoPath = "~/images/" + (Model.Image ?? "noimage.jpg");
}
<div class="bg-image"></div>
<div class="container-fluid">   
    <div id="userDetails">
        <h2 id="userNameDisplay">@Model.Name</h2>
        <div id="userprofilesPhoto">
            <img class="card-img-top" src="@photoPath" asp-append-version="true" />
        </div>
        <div class="card userCardStyle">
            <div class="card bg-secondary userInformationCard">
                <p class="userInformationTitle">GENDER: @Html.DisplayFor(model => Model.Gender)</p>
                <br>
                <p class="userInformationTitle">AGE: @Html.DisplayFor(model => Model.Age)</p>
               <br>
                <p class="userInformationTitle">LOCATION: @Html.DisplayFor(model => Model.Location)</p>
                <br>
            </div>
            <hr>
            <p>@Html.ActionLink("Edit UserProfiles", "Edit", new { id = Model.UserProfileId })</p>
            <p>@Html.ActionLink("Home Page UserProfiles", "Index", new { id = Model.ApplicationUserId })</p>
            <p>@Html.ActionLink("Add a Trip", "Create"," Trips", new { id = Model.UserProfileId })</p>
           
        </div>
    </div>
</div>


