@model TripPlanner.Models.UserProfile;
@using TripPlanner.ViewModels
@{
    Layout = "_Layout";
}
<div class="bg-image"></div>
 <div class="container-fluid">   
<div  id="userDetails">
    <h2 id="userNameDisplay">@Model.Name</h2>
    <div id="userprofilesPhoto" style="background-image: url(@Model.Image)"></div>
    <div class="card userCardStyleEdit">
        
        <div class="card bg-secondary userInformationCard">
            @using (Html.BeginForm("Edit", "UserProfiles", FormMethod.Post,new{ enctype="multipart/form-data"}))
            {
                @Html.HiddenFor(model => model.ApplicationUserId)
                @Html.HiddenFor(model => model.UserProfileId)
                @Html.HiddenFor(model => model.Image)
                <p for="Name" class="userInformationTitle">NAME</p>
                <p class="userInformationDisplay"><input name="Name" type="text" class="form-control" value="@Model.Name"></p><br>
                <p for="Gender" class="userInformationTitle">GENDER</p>
                <p class="userInformationDisplay"><input name="Gender" type="text" class="form-control" value="@Model.Gender"></p><br>
                <p class="userInformationTitle">AGE</p>
                <p class="userInformationDisplay"><input name="Age" type="text" class="form-control" value="@Model.Age"></p><br>
                <p class="userInformationTitle">LOCATION</p>
                <p class="userInformationDisplay"><input name="Location" type="text" class="form-control" value="@Model.Location"></p><br>
                <hr>
                <input type="submit" value="SAVE" class=" button-styling-solid"/>
                <a href="/userprofiles/"><button class="button-styling-solid">CANCEL</button></a><br>

}
            

            
            
        </div>
    </div>
</div>
</div>

