@{
    Layout = "_Layout";
}
@using TripPlanner.ViewModels;
@model TripPlanner.Models.UserProfile;

<h2>User - @Model.Name</h2>
<hr>
@Html.ActionLink("Edit User Profile", "Edit", new { id = Model.UserProfileId })<br>
<hr>
<ul>
    <li>Home: @Html.DisplayFor(modelItem => Model.Location)</li>
</ul>
<hr>
<h5>Trips for @Model.Name</h5>
@foreach (var trip in Model.Trips)
{
    <ul>
        <li>Name: @Html.ActionLink($"{trip.TripName}", "Details", "Trips", new { id = trip.TripId})</li>
       
    </ul>
}
@Html.ActionLink("Add a Trip", "Create", "Trips", new { id = Model.UserProfileId })<br>
@Html.ActionLink("Check your Profile", "Details", "UserProfiles", new { id = Model.UserProfileId })<br>